body {
  margin: 0px;
}
p {
  font-size: 0.85em;
}
svg {
  background: white;
}
.country {
  fill: white;
  stroke: black;
  stroke-width: 0.5;
}
.selected {
  fill: #ff7d8d;
}

.hovered {
  fill: #ff7d8d;
}

#page-title {
  background-color: white;
  margin-top: 1vh;
}

hr {
  background-color: #ff7d8d;
  border-top: 30px solid #ff7d8d;
  opacity: 100%;
}

.main {
  text-align: center;
  font-family: "Rock Salt", cursive;
}

#book {
  border-left: 20px;
}
